- content_for :title, "Admin - Groups - Show"
.row
  .large-6.columns.large-centered
    %h3
      %i.fi-eye
        Editing "#{@group.name}"
  .large-6.columns.end.large-centered
    %ul.button-group
      %li= link_to  '<i class="fi-trash large"></i> Delete'.html_safe, @group, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "button alert small"
      %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"

= render "form"
