- content_for :title, "Admin - Home"
.row
  .large-5.columns.large-centered
    %h1 Admin Panel
%br
.row
  .large-2.columns
    %ul.side-nav
      - %w{clusters groups punishments reports servers settings}.each do |panel|
        %li
          = link_to panel.capitalize, root_path + "/" + panel
  .large-6.columns.end
    %br
    .alert-box.secondary{"data-alert" => ""}
      %h5 Note To All Admins:
      Anything you change here will b logged to the DB and go live to the servers instantly. If you are caught abusing this panel your access rights may be revoked.
